name: Beego CI/CD

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Install dependencies
      run: |
        go mod tidy

    - name: Run tests
      run: |
        go vet ./...
        go test ./... -v

    - name: Build Docker image
      run: |
        docker build -t indicator-service:ci .

    - name: Run container and check endpoint
      run: |
        docker run -d -p 8080:8080 --name indicator indicator-service:ci
        sleep 3
        curl -f http://127.0.0.1:8080/ping
